<div nz-row>
  <div nz-col nzSpan="1"></div>
  <div nz-col nzSpan="10">
    <nz-table #nzTable [nzData]="users$ | async">
      <thead>
      <tr>
<!--        <th *ngFor="let col of cols"-->
<!--            [nzSortOrder]="sortOrder"-->
<!--            [nzSortFn]="sortFn"-->
<!--            [nzSortDirections]="sortDirections">{{col}}</th>-->

        <th *ngFor="let column of cols" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of nzTable.data">
        <td>{{user.name.first}}</td>
        <td>{{user.name.last}}</td>
        <td>{{user.age}}</td>
        <td>
          <a [routerLink]="user.guid">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="link" nzDanger
                  (click)="onDelete(user.guid)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="1"></div>
</div>
